<div class="jumbotron">
    <h1>World Clock API</h1>
    <p class="lead">REST Services that will return current date/time in JSON for any registered time zone.</p>
</div>
<div class="row">
    <div>
        <p><a href="/api/json/est/now">Eastern Standard Time</a> http://worldclockapi.com/api/json/est/now</p>
        <p><a href="/api/json/utc/now">Coordinated Universal Time</a> http://worldclockapi.com/api/json/utc/now</p>

        Also supports JSONP
        <p><a href="/api/jsonp/cest/now?callback=mycallback">Central European Standard Time</a> http://worldclockapi.com/api/jsonp/cest/now?callback=mycallback</p>
    </div>
</div>
